*{
    margin:0;
    padding:0;
}

.navbar {
    display: flex;
}

.navbar-nav {
    width: 0 auto;
    justify-content: space-evenly;
}

.logorizoma {
    border-style: hidden;
    width: auto;
    height: 90px;
    text-align: center;
    object-fit:contain;
}

.nav-link {
    color: #000000;
    font-family:'Playfair Display', serif;
    font-size: larger;
    justify-content: space-evenly;
}

.background-nav {
    background-color: rgb(216, 205, 205);
    font-weight:500;
}

.presentacion {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}

.imagen-presentacion {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}


.section-servicios {
    position: relative;
    width: 100%;
}

.imagen-presentacion-servicios {
    width: 100%;
    height: 550px;
    justify-content: center;
    text-align: center;
}

.btn-shop {
position: absolute;
top: 86%;
left: 17%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: rgb(236, 199, 88);
color: rgb(0, 0, 0);
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 7%;
font-family: 'Nuosu SIL', serif;
font-family: 'Playfair Display', serif;
}

.btn-shop:hover {
    background-color: rgb(255, 203, 34);
  }

.btn-turismo {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(236, 199, 88);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 7%;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Playfair Display', serif;
    }

.btn-turismo:hover {
    background-color: rgb(255, 203, 34);
  }

  .btn-regalos {
    position: absolute;
    top: 86%;
    left: 83%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(236, 199, 88);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 7%;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Playfair Display', serif;
    }

.btn-regalos:hover {
    background-color: rgb(255, 203, 34);
  }


.caja {
    background-color: #fbefcc;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    display: inline-block;
    width: 300px;
    height: 300px;
}

.especiales {  
    height: 100%;
    margin: 0;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1.2fr 1.2fr 1.2fr 1.2fr 0.8fr 0.8fr;
    grid-template-rows: 0.8fr 2.1fr 0.2fr 0.9fr 2.1fr 0.7fr;
    grid-auto-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "vacio vacio titulo1 titulo1 titulo1 titulo1 nada nada"
      "vacio vacio destacados destacados destacados destacados nada nada"
      "vacio vacio separacionmedial separacionmedial separacionmedial separacionmedial nada nada"
      "vacio vacio titulo2 titulo2 titulo2 titulo2 nada nada"
      "vacio vacio ofertadelmes ofertadelmes ofertadelmes ofertadelmes nada nada"
      "vacio vacio separacion separacion separacion separacion nada nada";
  }
  
.grid-item {
    background-color: rgb(255, 255, 255);
    border: solid rgb(170, 170, 170) 0,2px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
}

.destacados { 
    grid-area: destacados;
    grid-column: 3 / 7;
    grid-row: 2 / 3;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.card-group { 
    border: solid 2px dark;
    justify-content: space-between;
  }
  
.card {
    height: 470px;
    justify-content: center;
    align-items: center;
}

.card-body {
    height: 50px;
  }
  
.producto-especiales {
    height: 250px;
    width: 150px;
    margin: 25px;
}


.titulo-producto{ 
    font-family: 'Nuosu SIL', serif;
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    font-weight: 600;
}

.btn-productos{ 
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.ofertadelmes {
    grid-area: ofertadelmes;
    grid-column: 3 / 7;
    grid-row: 5 / 6;
    align-items: center;
    justify-content: center;
    height: 500px;
}
  
.separacion { 
    grid-area: separacion;
    grid-column: 3 / 7;
    grid-row: 6 / 7;
    height: 150px;
}
  
.separacionmedial { 
    grid-area: separacionmedial;
    grid-column: 3 / 7;
    grid-row: 3 / 4;
    color: #e0a536;
    height: 150px;
}
  
.titulo1 { 
    grid-area: titulo1;
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: rgba(5, 7, 52, 0.898);
    padding-top: 45px;
}
.titulo2 { 
    grid-area: titulo2;
    grid-column: 3 / 7;
    grid-row: 4 / 5;
    font-family: 'Lora', serif;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: rgba(5, 7, 52, 0.898);
}
  

.nada { 
    grid-area: nada;
    grid-column: 7 / 9;
    grid-row: 1 / 7;
}
  
.vacio { 
    grid-area: vacio;
    grid-column: 1 / 3;
    grid-row: 1 / 7;
}
  
  
  
  
  

 

.imagen-destacados {
    height: 85px;
    width: 50px;
    border: black solid 1px;
    align-items: center;
    justify-content: end;
}


.prefooter {
        height: 300px;
        display: flex;
        background-color: #f1ddbf;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        font-family: 'Raleway', sans-serif;
}

.logo-footer{
    border-style: hidden;
    height: 150px;
}



footer{
    display: flex;
    color: #fbefcc;
    font-family: 'Raleway', sans-serif;
    padding: 35px 15px 35px 45px;
    background-color:#e0a536;
    text-align: end;
    justify-content: center;
}


h6{
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
}

