*{
    margin:0;
    padding:0;
}

.navbar {
    display: flex;
}

.navbar-nav {
    justify-content: center;
}

.logorizoma {
    border-style: hidden;
    width: auto;
    height: 90px;
    text-align: center;
    object-fit:contain;
}

.nav-link {
    color: #000000;
    font-family: 'Nuosu SIL', serif;
    text-transform: uppercase;
    font-size: large;
    font-weight:lighter;
    text-size-adjust: 10px;
}

.background-nav {
    background-color: #e2aa42;
}

.section-carousel{
}

.carousel-css {
    height: 500px;
    width: 1000px;
}

.presentacion {
    width: auto;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}


.imagen-presentacion {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.somos{
    text-align: center;
    margin: auto;
    width: 55%;
    padding-bottom: 150px;
    color: #000000;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    display: block;
    align-content: center;
    padding-bottom: 8cm;
}

.caja {
    background-color: #fbefcc;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    display: inline-block;
    width: 300px;
    height: 300px;
}


.servicios{
    height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px;
    background-color: #f5edd9;
    justify-content: space-between;
    align-items:center;
}

.h2-main {
    display: block;
    justify-content: center;
    text-align: center;
    background-color:#f5edd9;
    font-family:'Playfair Display';
    font-size: 30px;
}

.section-destacados {
    height: 600px;
    padding: 50px;
    justify-items: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px;
}


 .h3-destacados {
     text-transform: uppercase;
     text-align: center;
     font-family: 'Raleway', sans-serif;
 }
 
 

.imagen-destacados {
    height: 85px;
    width: 50px;
    border: black solid 1px;
    align-items: center;
    justify-content: end;
}


.prefooter {
        height: 300px;
        display: flex;
        background-color: #f1ddbf;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        font-family: 'Raleway', sans-serif;
}

.logo-footer{
    border-style: hidden;
    height: 150px;
}



footer{
    display: flex;
    color: #fbefcc;
    font-family: 'Raleway', sans-serif;
    padding: 35px 15px 35px 45px;
    background-color:#e0a536;
    text-align: end;
    justify-content: center;
}


h6{
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
}

