body {
    header {
        .navbar{
            display: flex;
            .background-nav {
                background-color: rgb(243, 208, 93);
                font-weight:500;
                .navbar-brand {
                    .logorizoma {
                        width: auto;
                        height: 90px;
                        text-align: center;
                        object-fit:contain;}
                        .navbar-nav {
                            width: 0 auto;
                            justify-content: space-evenly;
                            .nav-link {
                                color: #000000;
                                font-family:'Playfair Display', serif;
                                font-size: larger;
                                justify-content: space-evenly;
                                
                            }                
                        }
                    
                }
            }
        }
   }
}


.presentacion {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    .imagen-presentacion {
        height: 550px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        background-size: contain;
        object-fit: contain;
    }
}

.section-servicios {
    position: relative;
    width: 100%;
    .imagen-presentacion-servicios {
        width: 100%;
        height: 550px;
        justify-content: center;
        text-align: center;
        .btn-shop {
            position: absolute;
            top: 86%;
            left: 17%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: rgb(236, 199, 88);
            color: rgb(0, 0, 0);
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 7%;
            font-family: 'Nuosu SIL', serif;
            font-family: 'Playfair Display', serif;
            &:hover{background-color: rgb(255, 203, 34)};
                .btn-turismo {
                    position: absolute;
                    top: 86%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: rgb(236, 199, 88);
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    padding: 12px 24px;
                    border: none;
                    cursor: pointer;
                    border-radius: 7%;
                    font-family: 'Nuosu SIL', serif;
                    font-family: 'Playfair Display', serif;
                    &:hover{background-color: rgb(255, 203, 34)};
                        .btn-regalos {
                            position: absolute;
                            top: 86%;
                            left: 83%;
                            transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            background-color: rgb(236, 199, 88);
                            color: rgb(0, 0, 0);
                            font-size: 16px;
                            padding: 12px 24px;
                            border: none;
                            cursor: pointer;
                            border-radius: 7%;
                            font-family: 'Nuosu SIL', serif;
                            font-family: 'Playfair Display', serif;
                            &:hover{background-color: rgb(255, 203, 34)};
                        }
                      
                    }
              }
        }
    }

    .especiales {  display: grid;
        grid-template-columns: 0.8fr 0.8fr 1.2fr 1.2fr 1.2fr 1.2fr 0.8fr 0.8fr;
        grid-template-rows: 0.8fr 2.1fr 0.2fr 0.9fr 2.1fr 0.7fr;
        grid-auto-rows: 1fr;
        gap: 0px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "vacio vacio titulo1 titulo1 titulo1 titulo1 nada nada"
          "vacio vacio destacados destacados destacados destacados nada nada"
          "vacio vacio separacionmedial separacionmedial separacionmedial separacionmedial nada nada"
          "vacio vacio titulo2 titulo2 titulo2 titulo2 nada nada"
          "vacio vacio ofertadelmes ofertadelmes ofertadelmes ofertadelmes nada nada"
          "vacio vacio separacion separacion separacion separacion nada nada";
      }
      
      .destacados { grid-area: destacados; }
      
      .ofertadelmes { grid-area: ofertadelmes; }
      
      .separacion { grid-area: separacion; }
      
      .separacionmedial { grid-area: separacionmedial; }
      
      .titulo2 { grid-area: titulo2; }
      
      .nada { grid-area: nada; }
      
      .vacio { grid-area: vacio; }
      
      .titulo1 { grid-area: titulo1; }
      

    .prefooter {
        height: 300px;
        display: flex;
        background-color: #f1ddbf;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        font-family: 'Raleway', sans-serif;
        .logo-footer{
            border-style: hidden;
            height: 150px;
        }
}


footer{
    display: flex;
    color: #fbefcc;
    font-family: 'Raleway', sans-serif;
    padding: 35px 15px 35px 45px;
    background-color:#e0a536;
    text-align: end;
    justify-content: center;
    h6{
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
    }
}
