*{
    margin:0;
    padding:0;
}

@media only screen and (max-width:450px) {
    body{
        background-color: 
    }
};
@media only screen and (min-width:451px) and (max-width:960px);

@media only screen and (min-width:961px) and (max-width:auto);


header {
    font-size: 15px;
    display: flex;
    background-color: #e6bf54;
    justify-content: center;
}

nav {
    height: 105px;
    text-align: center;
    width: 85%;

}

#nav-menu {
    background-color: #e6bf54;
    width: auto;
    list-style: none;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;
}

.nav-li{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;;
    width: max-content;
    display: inline-block;
    text-align: center;
    padding-left: 80px;
}

.logorizoma {
    padding: 0px 30px;
    border-style: hidden;
    width: 90px;
    height:90px;
    text-align: center;
}


.presentacion {
    width: auto;
    height: auto;
    background-image: url(mejores-bodegas-argentinas.jpg);
    background-repeat: no-repeat ;
    background-size:cover;
    display: flex;
    justify-content: center;
    grid-area: presentacion;
}


.h1-taste {
    color: #e8d394;
    padding-top: 90px;
    padding-bottom: 80px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size:40px;
}

.somos{
    text-align: center;
    margin: auto;
    width: 55%;
    padding-bottom: 150px;
    color: #000000;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    display: block;
    align-content: center;
    padding-bottom: 8cm;
}

.caja {
    background-color: #fbefcc;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    display: inline-block;
    width: 300px;
    height: 300px;
}


.servicios{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 300px 300px 200px;
    grid-template-areas: "shop turismo regalos";
    background-color: #fff5d9;
    justify-content: space-between;
    align-items:center;
}

.h2-main {
    display: block;
    justify-content: center;
    text-align: center;
    background-color:#fff5d9;
    font-family:'Playfair Display';
    font-size: 30px;
}

.logo-footer{
    padding: 0px 40px;
    border-style: hidden;
    width: 150px;
    height: 150px;
    text-align: center;
}

footer {
    display: flex;
    font-family: 'Raleway', sans-serif;
    padding: 25px 25px 25px 25px;
    background-color:#fffdcc;
    text-align: center;
    grid-area: footer;
}

.div-seguinos{
    display: flex;
    align-items:center
}

h4 {
    display: flex;
    align-items:flex-end;
}

.p-footer {
    background-color:#fffdcd;
    text-transform: uppercase;
}
